* {
  margin: 0;
  padding: 0;
  font-family: "inter", "Poppins", sans-serif;
  box-sizing: border-box;
}

.form-container {
  /* background-image: url("../images/background-image.png"); */
  background-image: linear-gradient(rgba(50, 20, 0, 0.4), rgba(0, 0, 50, 0.4)),
    url("../images/background-form.jpg");
  background-size: cover;
  /* background-position: center;
  background-repeat: no-repeat; */
  min-height: 95vh;
  display: grid;
  width: 100%;
  font-size: var(--placeholder-font);
}

.form-box {
  background-color: #fff;
  position: absolute;
  width: 90%;
  max-width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 50px 60px 70px; */
  padding: 5px 60px 60px;
  text-align: center;
  overflow: hidden;
}

.form-box h1 {
  font-size: 30px;
  margin: 60px;
  color: var(--grey-color);
  position: relative;
}
.form-box h1::after {
  content: "";
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background-color: #f96d28;
  background-color: var(--grey-color);
  /* color: var(--grey-color); */
  position: absolute;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
}

.input-field {
  background: #dfdfdf;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  transition: min-height 0.5s;
  overflow: hidden;
}

input {
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

.input-field i {
  color: #79757a;
  margin-left: 10px;
}

.lost {
  padding: 10px 0;
}

form p {
  text-align: start;
}

form a {
  text-decoration: none;
  color: var(--grey-color);
}
.btn-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-field button {
  flex-basis: 40%;
  background: #3c00a0;
  background: #f96d28;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  outline: 0;
  transition: 0.5s;
}

.input-group {
  height: 280px;
}

.btn-field button.disable {
  background-color: #dfdfdf;
  color: #79757a;
}

/** GENERATE TOKEN **/
.input-group-token {
  height: 80px;
}

.btn-field-token {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-field-token button {
  flex-basis: 40%;
  background: #f96d28;
  color: #fff;
  height: 40px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  outline: 0;
  transition: 0.5s;
}

.form-box h2 {
  font-size: var(--big-btn-font-size);
  margin: 50px;
  color: var(--grey-color);
}
