{% extends "/base.html" %}
{% block title %}TalentPot - Home{% endblock title %}
{% block template %}
    <div class="container">
      <header>
        <div class="head_logo">
          <div class="head_logo2"></div>
        </div>
        <div class="navigation-bar">
          <!-- sidebar -->
          <ul class="sidebar">
            <li onclick="hideSidebar()" class="nav-item">
              <a
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="32"
                  viewBox="0 -960 960 960"
                  width="32"
                >
                  <path
                    d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                  /></svg
              ></a>
            </li>
            <li class="nav-item">
              <a href="http://www.talentpot.calebcodes.tech" class="nav-link"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a href="#features" class="nav-link">Features</a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="http://www.talentpot.calebcodes.tech/signin"
                >Sign in</a
              >
            </li>
          </ul>
          <!-- normal -->
          <ul class="nav">
            <li class="nav-item hideOnMobile">
              <a href="/" class="nav-link">Home</a>
            </li>
            <!-- <li class="nav-item hideOnMobile">
              <div class="after-signin">
                <a href="/test" class="nav-link">Test</a>
                
              </div>
            </li> -->
            <li class="nav-item hideOnMobile">
              <a href="#features" class="nav-link">Features</a>
            </li>
            <li class="nav-item hideOnMobile">
              <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item hideOnMobile">
              <a
                class="btn btn--small exclude-dot nav-link"
                href="http://www.talentpot.calebcodes.tech/signin"
                >Sign in</a
              >
            </li>
            <li class="nav-link menu-btn">
              <a onclick="showSidebar()" href="#"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="32"
                  viewBox="0 -960 960 960"
                  width="32"
                >
                  <path
                    d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
                  /></svg
              ></a>
            </li>
          </ul>
        </div>
      </header>

      <div class="main-container">
        <div class="main_text">
          <div class="headline">
            <!-- <div class="line1">Streamline your</div>
            <div class="line1">Employee Information</div>
            <div class="line1">Management</div> -->
            <div class="line1">
              Streamline your Employee Information Management
            </div>
            <div class="line2">
              Streamline your<br />Employee Information<br />
              Management
            </div>
          </div>
          <div class="landing-text">
            TalentPot is a powerful platform designed to streamline and simplify
            employee data management for HR teams. We offer a comprehensive
            suite of tools to help you effortlessly manage employee information,
            from onboarding to data updates and more
          </div>
          <!-- <div class="after-signin">
            <a class="btn btn-big" href="/test">Explore</a>
          </div> -->

          <!-- SCREEN WIDTH -->
          <!-- <div id="screen-width"></div>
          <div id="screen-height"></div>

          <script>
            function screen() {
              mywidth = window.innerWidth;
              myheight = window.innerHeight;
              document.getElementById("screen-width").innerHTML =
                "width:" + mywidth + "px";
              document.getElementById("screen-height").innerHTML =
                "height:" + myheight + "px";
            }
            window.onresize = screen;
            window.onload = screen;
          </script> -->
        </div>
      </div>
    </div>
    <div class="features" id="features">
      <div class="featuresOdd">
        <!-- <div class="odd1img"></div> -->
        <img src="../static/images/feature4bb.svg" class="oddimage" />
        <div class="features-text">
          <h5 class="l">
            Add, update, and delete employee information with just a few clicks!
          </h5>
        </div>
      </div>
      <div class="featuresEven">
        <!-- <div class="evenimg"></div> -->
        <img src="../static/images/feature3bb.svg" class="oddimage" />
        <div class="features-text">
          <h5 class="r">
            Manage employees across various departments in your organization
          </h5>
        </div>
      </div>
      <div class="featuresOdd">
        <!-- <div class="odd2img"></div> -->
        <img src="../static/images/feature2bb.svg" class="oddimage" />
        <div class="features-text">
          <h5 class="l">
            Effortlessly generate comprehensive reports on employee data and
            analytics
          </h5>
        </div>
      </div>
    </div>
    <footer>
      <p>Copyright © TalentPot. All Rights Reserved</p>
    </footer>
    <script type="text/javascript" src="../static/scripts/sidebar.js"></script>
{% endblock template %}
