{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block hm_page %}<a class="nav-link" href="#">Home</a>{% endblock hm_page %}

{% block p_page %}<a class="nav-link" href="#">Profile</a>{% endblock p_page %}

{% block l_page %}<a class="nav-link active" aria-current="page" href="#">Login</a>{% endblock l_page %}

{% block r_page %}<a class="nav-link" href="#">Register</a>{% endblock r_page %}

{% block template %}
  <div class="d-flex align-items-center justify-content-center py-4 bg-body-tertiary">
    <form>
      <h1 class="h3 mb-3 fw-normal">Reset Password</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="New Password">
        <label for="floatingPassword">New password</label>
      </div>

      <div class="form-floating">
        <input type="text" required class="form-control" id="floatingInput" placeholder="Token">
        <label for="floatingInput">Token</label>
      </div>

      <button class="btn btn-primary w-100 py-2" type="submit">Reset Password</button>
    </form>
  </div>
{% endblock template %}