<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" href="images/icon.png" />
    <title>sign In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/landing-page.css" />
    <link rel="stylesheet" href="../static/styles/header.css" />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <link rel="stylesheet" href="../static/styles/features.css" />
    <link rel="stylesheet" href="../static/styles/sign_in.css" />
    <script
      src="https://kit.fontawesome.com/e96e4f984c.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <div class="form-container">
      <div class="form-box">
        <h1 id="title">Sign Up</h1>
        <!-- <div class="head_logo">
          <div class="head_logo2"></div>
        </div> -->
        <form id="signup_page"" method="POST">
          <div class="input-group">
            <div class="input-field" id="namefield">
              <!-- <i class="fa-solid fa-user"></i> -->
              <i class="fa-solid fa-envelope"></i>
              <input type="email" id="email" placeholder="Email" required minlength="3" />
            </div>
            <div class="input-field">
              <i class="fa-solid fa-lock"></i>
              <input type="password" id="password" placeholder="Password" required minlength="6"/>
            </div>
            <div class="input-field">
              <i class="fa-solid fa-lock"></i>
              <input type="password" id="rpassword" placeholder="Renter Password" required minlength="6"/>
            </div>
            <div class="lost">
              <p><a href="/generate_token">Forgot your password?</a></p>
            </div>
          </div>
          <div class="btn-field">
            <button type="submit" id="signupBtn">Sign up</button>
            <p><a href="/signin">I have an account</a></p>
          </div>
        </form>
      </div>
    </div>
    <footer>
      <p>Copyright © TalentPot. All Rights Reserved</p>
    </footer>
    <script
      type="text/javascript"
      src="../static/scripts/signup_script.js"
    ></script>
  </body>
</html>
